<div class="post-item-wrapper">
  <article class="post-item" itemscope itemtype="http://schema.org/CreativeWork">

    <h3 itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ post.title }}</a> <a href="{{ post.url | absolute_url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ post.url | absolute_url }}" rel="permalink">{{ post.title }}</a>
      {% endif %}
    </h3>

    {% if post.date %}
    <p class="meta"> <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }} </time></p>
    {% endif %}
  </article>
</div>