nav:not(.breadcrumbs)
  font-family: $font-sans
  background-color: $grey-lighter
  padding: 1rem
  padding-left: 2.5rem

  ul
    margin-bottom: 0

  li
    display: inline-block

  a
    position: relative
    color: $black
    margin-right: 2rem

    &:before
      position: absolute
      background-color: $blue
      border-radius: 9999px
      display: inline-block
      opacity: 1
      transition: opacity 200ms ease
      content: ''
      height: 8px
      left: -16px
      top: 6px
      width: 8px
      opacity: 0

    &:hover:before
      opacity: 0.75

    &.active:before
      opacity: 1

.breadcrumbs
  font-size: .875rem
  padding: 0
  background-color: transparent

  ol, a
    margin: 0

  li
    display: inline-block

    &:before
      content: '/ '

    &:first-child:before
      content: ''