figure {
  border: none!important;
}

pre::-webkit-scrollbar {
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid rgb(146, 146, 146);
}

pre::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(146, 146, 146);
}